fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
bcrypt==3.2.2
python-dotenv==1.0.1
pydantic==2.11.7
pytest==8.2.2
pdfplumber
openpyxl
passlib[bcrypt]==1.7.4
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.20